@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
/* CSS Document */

/*--------------------------------*/
/* BASIC SETUP */
/*--------------------------------*/


/*--------------------------------*/
/* REUSABLE */
/*--------------------------------*/

body{
      color: #000 !!important ;}
            
}
.row {
    margin: 0;
}

p {margin: 0;
  padding: 0px;}

/* -----HEADINGS-----*/
h1, h2, h3, h4{
 margin: 0;
}
a {text-decoration: none;}

ul {
  list-style-type: none;
}
li {float: left;}

.floot{float: left;}
.floot-r{float: right;}

nav>li>a:hover{ background-color: #red ; } 

nav li a:active{}

nav li a:visited{}

.active>a:hover{background-color:#fff;}

/*--------------------------------*/
/* HEADER */
/*--------------------------------*/

header {
        height: 45px;
        background-color: #2c2d3a;
        padding-top: 10px;
        }
.marg-lr{margin-left:-15px;
            margin-right: -15px; }

.marg-right{margin-right: -15px; }

.logout-link{
              text-align: right;
              color: #999;
              padding-top: 2px;
              }

.logout-link a{
              font-size: 12px;
              color: #fff;
              }
.logout-link .hello{color: #95989A;}



/* =Search Box
-------------------------------------------------------------- */

#search {

}
.search-float{float: right !important;margin-top: 7px;}

.search-icon {position: absolute;top: 3px;left: 10px;}
#search input[type="text"] {
    background-image: url(../img/search-dark.png) no-repeat;
    margin-right: 35px;
    background-color: #2c2d3a;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #898c90;
    width: 150px;
    padding: 7px 15px 6px 32px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /* text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); */
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
    }
/*--------------------------------*/
/* BODY-CONTENT */
/*--------------------------------*/



.login-box{
  max-width: 364px;
  height: 401px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding-top: 44px;
  padding-left: 50px;
  padding-right: 50px;
  /* padding-bottom: 173px; */
  margin-top: 80px;
  margin-bottom: 50px;
  border-radius: 8px;
  box-shadow: 0px 1px 4px 1px #ccc;
}

.login-box h1{
              font-size: 20px;
              font-weight: 600;
              color: #212121;
              margin-left: -15px;
              padding-bottom: 8px;
              padding-top: 15px;
              }

.login-box h4{
              font-size: 12px;
              font-weight: 500;
              color: #535353;
              margin-left: -15px;
              padding-bottom: 40px;
            }

.login-box .logo-1 {text-align: right;
                    margin-right: -15px;}

.login-sec{margin-top:52px;}

.foget-likn{padding-top: 30px;}

.foget-likn .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    width: 100px;
}

.foget-likn .col-sm-6 {
                      margin-left: -15px;
                      /* margin-right: -15px; */
                      }
.button-login{/* text-align: right; */float: right;width: 100px !important;margin-right: 15px;font-size: 15px !important;font-weight: 600;}

.logo-pading{padding-top: 10px;
            padding-left: 10px;}

.foget-likn a {font-size: 14px;}

.input-sec{/* padding-top: 52px; */clear: both;color: #4285F4;font-size: 10px;font-weight: 600;margin-bottom: 20px;}
.form-control {
    display: block;
    width: 100%;
    height: 28px;
    /* padding: 6px 12px; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    /* box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075); */
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.dashboard-main{
    clear: both;
}

.nav-bar-bg{
    background-color: #262734;
    color: #64667d;
    margin-bottom: 14px;
    border-radius: 0;
    padding-left: 14px;
    /* padding-top: 5px; */
    min-height: 45px !important;
}

.nav-bar-bg a{color: #64667d;}

.dashboard-main .nav-tabs > li > a {
    margin-right: 2px;
    /*line-height: 1.42857143;
    /* border: 1px solid transparent; */
    /* border-radius: 4px 4px 0 0; */
}

.dashboard-main  .nav-bar-bg > li.active > a, .nav-bar-bg > li.active > a:hover, .nav-bar-bg > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #262734;
    border-bottom: 1px solid #262734;
    /* border-bottom-color: transparent; */
}


 .dashboard-main .nav-bar-bg > li.active > a, .nav-bar-bg > li.active > a:hover, .nav-bar-bg > li.active > a:focus {
    color: #fff;
    cursor: pointer;
    background-color: #262734;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
}


 .dashboard-main .nav-bar-bg >  .nav-bar-bg > li > a:hover, .nav-bar-bg > li > a:focus {
    color: #fff;
    cursor: default;
    background-color: #262734;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
}
.dashboard-main .db-heading h5{
                               font-size: 20px;
                               color: #3F4047;
                               padding-left: 29px;
                               padding-bottom: 18px;
                               margin: 0;
                               }

.dashboard-cont {
              }

.db-section-1{
              height: 130px;
              border: 1px solid #ccc;
              text-align: center;
              margin-left: 30px;
              margin-right: 30px;
              padding: 0;
              clear: both;
              }
.db-section-1 h2{
                color: #6057d0;
                font-size: 24px !important;
                font-weight: 600 !important;
                margin: 0 !important;
                padding: 0px;
                padding-top: 15px;
                }

.db-section-1 h3{
                 font-size: 14px !important;
                 font-weight: 500;
                 color: #424242;
                 padding-top: 20px;
                 }

.db-section-1 h4{
                 font-size: 12px !important;
                 font-weight: 500;
                 color: #999;
                 padding-top: 10px;
                 margin: 0;
                 }
.border-line{
             border-right: 1px solid #ccc;
             box-shadow: 0px 0px 3px 0px #ccc;
             height: 130px;
           }

.section-2{
           padding-left: 15px;
           padding-right: 30px;
           margin-top: 25px;
           margin-bottom: 50px;
           clear: both;
           }
.section-2 .user-box{
                     border: 1px solid #ccc;
                     margin-right: -15px;
                     /* margin-left: -15px; */
                     height: 421px;
                     margin-bottom: 30px;
                     padding-left: 30px;
                     padding-right: 30px;
                     box-shadow: 0px 0px 5px 0px #ccc;
                     overflow: auto;
                  }
.section-2 .user-box .user-line{
                                border-bottom: 1px solid #ccc;
                                height: 52px;
                                margin-left: -30px;
                                margin-right: -30px;
                                }
.section-2 .user-box .user-line h2{font-size: 17px;color: #575962;padding-top: 15px;padding-left: 15px;}

.section-2 .user-box .user-line a{font-size: 12px;color: #6F7285;float: right;margin-top: -15px;padding-right: 15px;}

.section-2 .user-box .user-sec{
                               border-bottom: 1px solid #ccc;
                               height: 72px;
                               /* padding-left: 30px; */
                               padding-top: 20px;
                               }

.section-2 .user-box .user-sec h3{font-size: 14px;padding-left: 15px;padding-top: 6px;padding-bottom: 6px;color: #333;}

.section-2 .user-box .user-sec h4{font-size: 12px;color: #A590BB;padding-left: 15px;}

.section-2 .user-box .user-sec .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 20px !important;
    margin-top: 10px;
    font-size: 10px;
}

.Transac-sec{height: 0;padding-top: 15px;}

.Transac-sec li{float: left;}

.Transac-sec .date{font-size: 14px;color: #A6A7C1;font-weight: 500;padding-right: -60px;float: left;margin-left: -40px;width: 120px;}

.Transac-sec .user{font-size: 14px;color: #A6A7C1;font-weight: 500;/* padding-right: 0px; *//* width: 100px; */}

.Transac-sec .amount{font-size: 14px;color: #A6A7C1;font-weight: 500;/* padding-right: 60px; */text-align: right;float: right;}


.Transac-box {border-bottom: 1px solid #ccc;height: 53px;clear: both;padding-top: 20px;}

.Transac-box li{ float: left;}

.Transac-box .date{font-size: 14px;color: #A6A7C1;text-align: start;margin-left: -15px;}

.Transac-box .user{font-size: 14px;color: #A6A7C1;text-align: -webkit-center;}

.Transac-box .amount{font-size: 14px;color: #716ACA;text-align: right;margin-right: -15px;float: right;font-weight: 600;}

.Transac-box-1 {border-bottom: 1px solid #ccc;height: 68px;clear: both;padding-top: 12px;}
.Transac-box-1 .amount{font-size: 14px;color: #716ACA;text-align: right;margin-right: -15px;/* float: right; */font-weight: 600;padding-top: 11px;}




/*--------------------------------*/
/* FOOTER */
/*--------------------------------*/
.footer-bg{border-top: 1px solid #ccc;/* height: 120px !important; */padding-top: 20px;padding-bottom: 20px;clear: both;margin-top: 20px;}

.footer-text {/* height: 50px; */padding-bottom: 20px;padding-left: 20px;}
.footer-text a{float:left;}

.footer-text-right a{float:right;padding-right: 15px;color: #222;font-size: 12px;}

.trending{
          border: 1px solid #ccc;
          height: 573px;
          clear: both;
          margin-left: 30px;
          margin-right: 30px;
          /* padding-top: 47px; */
          margin-top: 25px;
          }
.trending-text {
    /* height: 20px; */
    padding-top: 25px;
    margin-bottom: 38px;
}
.trending-text h2{font-size: 17px;color: #575962;padding-left: 10px;/* padding-bottom: 45px; *//* padding-top: 10px; */}
.transactions-stats h2{font-size: 17px;color: #575962;padding-left: 30px;padding-bottom: 20px;}
.process-box{
                 /* background-color: #f4f3fb; */
                 /* height:55px; */
                 /* margin-left: 45px; */
                 /* margin-right: 185px; */
                 padding-left: 25px;
                 padding-right: 25px;
                 clear: both;
             }
.process-header {
    background-color: #f4f3fb;
    height: 50px;
    padding-top: 15px;
    font-size: 14px;
    padding-left: 15px;
    font-weight: 600;
    color: #7D5962;
}

.process-header-bar-1{
  background-color: #fbfbfe;
  /* height: 50px; */
  padding-top: 15px;
  font-size: 14px;
  padding-left: 15px;
  /* font-weight: 600; */
  color: #666;
  overflow: hidden;
  }


.process-header-bar-2 {
    background-color: #fff;
    height: 50px;
    padding-left: 15px;
    font-size: 14px;
    padding-top: 15px;
    color: #575962;
}

.process-ready-button{
    background-color: #2d770c;
    border-radius: 18px;
    padding: 5px;
    /* padding-right: 5px; */
    /* padding-left: 5px; */
    border: 0px;
    color: #fff;
    width: 110px;
}

.in-process-button{
    background-color: #716aca;
    border-radius: 18px;
    padding: 5px;
    border: 0px;
    color: #fff;
    width: 110px;
}

.not-valid-button{
    background-color: #caa56a;
    border-radius: 18px;
    padding: 5px;
    border: 0px;
    color: #fff;
    width: 110px;
}

.process-header-bar-1 a{color: #222;}

.process-header-bar-2 a{color: #222;}

.users-details {
    height: 90px;
    /* margin-top: -27px; */
    /* padding-top: 30px; */
}

.users-details .back-arrow {padding-right: 25px;padding-top: 20px;margin-left: -25px;}

.users-details .profile-heading {
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
}
.users-details .profile-heading h3{
                                    font-size: 18px;
                                    color:#575962;
                                    padding-bottom: 10px;
                                    }
.users-details .profile-heading h4{
                                   font-size: 14px;
                                   color: #000;
                                   }

.users-details .email-text{
                           font-size: 14px;
                           color: #A590BB;
                           padding-top: 37px;
                           /* padding-left: 25px; */
                           cursor: default;
                           }
.users-details .email-text .i-pading {padding-right: 10px;color: #ccc;/* padding-left: 5px; */}

.users-details .email-text a{color: #A590BB;}

.top-buttons {float: right;padding-top: 25px;padding-right: 20px;}

.top-buttons .block-bg {background-color: #960034;border: 0;border-radius: 4px;color: #fff;font-size: 12px;padding-left: 15px;padding-right: 15px;padding-bottom: 5px;padding-top: 5px;margin-right: 15px;}

.top-buttons .delete-bg {background-color: #009688;border: 0;border-radius: 4px;color: #fff;font-size: 12px;padding-left: 15px;padding-right: 15px;padding-bottom: 5px;padding-top: 5px;/* font-size: 14px; *//* font-weight: 500; *//* margin-right: 15px; */}

.users-details-box {color: #9d9d9d;margin-left: -15px;margin-right: -15px;}

.transactions-stats {
    padding-top: 25px;
}
.transactions{
          border: 1px solid #ccc;
          height: 375px;
          clear: both;
          margin-left: 30px;
          margin-right: 30px;
          padding-top: 20px;
          overflow: auto;
          /* margin-top: 50px; */
          }

.transactions-stats .date-and-day{font-size: 12px;color: #6F7285;padding-left: 20px;}

.transactions-stats .I-text{font-size: 15px;color: #ccc;font-weight: 100 !important;padding-left: 10px;}

.users-details-heading{font-size: 15px;color: #A6A7C1;font-weight: 600;clear: both;height: 30px;}

.users-details-sub-text {font-size: 13px;color: #999;height: 35px;border-bottom: 1px solid #ccc;/* padding-top: 20px; */margin-top: 20px;clear: both;}

.still-need-sec {padding-top: 100px; text-align: center;}

.still-need-sec h1{font-size: 44px;color: #716ACA;font-weight: bold;padding-bottom: 10px;}

.still-need-sec h2{font-size: 20px;color: #95989A;}

.still-need-sec h3{font-size: 15px;color: #7D5962;padding-bottom: 10px;}

.linkend-box {
    border-bottom: 1px solid #ccc;
    height: 67px;
    clear: both;
    padding-top: 20px;
}


.linkend-box .amount {
    font-size: 14px;
    color: #716ACA;
    text-align: -webkit-right;
    /* margin-right: -15px; */
    /* float: right; */
    font-weight: 600;
    padding-top: 11px;
}



 .amount {
    color: #716ACA;
    /* text-align: -webkit-right; */
    /* margin-right: -15px; */
    /* float: right; */
    font-weight: 600;
    /* padding-top: 11px; */
} 

.i-text {
    font-size: 15px;
    color: #ccc;
    font-weight: 100 !important;
    padding-left: 10px;
}

